In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import operator
import gmaps

from google_maps_key import gkey

In [2]:
file = os.path.join("..","Data","clean_data","clean_data.csv")
raw = pd.DataFrame(pd.read_csv(file))

main = pd.DataFrame(raw[['incident_id','date','state','latitude','longitude','incident_characteristics']])
main.fillna('BLANK')
main['Type'] = ""
main.head()

,incident_id,date,state,latitude,longitude,incident_characteristics,Type
0,461105,2013-01-01,Pennsylvania,40.3467,-79.8559,Shot - Wounded/Injured||Mass Shooting (4+ vict...,
1,460726,2013-01-01,California,33.9090,-118.3330,"Shot - Wounded/Injured||Shot - Dead (murder, a...",
2,478855,2013-01-01,Ohio,41.4455,-82.1377,"Shot - Wounded/Injured||Shot - Dead (murder, a...",
3,478925,2013-01-05,Colorado,39.6518,-104.8020,"Shot - Dead (murder, accidental, suicide)||Off...",
4,478959,2013-01-07,North Carolina,36.1140,-79.9569,"Shot - Wounded/Injured||Shot - Dead (murder, a...",

In [3]:
incident_type_dict= {
    "Gang involvement":0,
    "Drug involvement":0,
    "Domestic Violence":0,
    "Armed robbery":0,
    "Officer Involved Incident":0,
    "Home Invasion":0,
    "Car-jacking":0,
    "Negligent Discharge":0,
    "suicide":0,
    "Child Involved":0,
    "Pistol-whipping":0,
    "Defensive Use":0,
    "Accidental Shooting":0,
    "No Injuries":0,
    "Home Invasion":0,
    "Murder":0,
    "Road rage":0,
    "Animal shot":0,
    "Drive-by":0,
    "Police Targeted":0,
    "School Incident":0,
    "Hate crime":0,
    "Terrorism Involvement":0,
    "Assault weapon":0,
    "Mass Shooting":0,
    "Accidental Shooting":0,
    "Unknown":0}
incident_type = ["Gang involvement",
    "Drug involvement",
    "Domestic Violence",
    "Armed robbery",
    "Officer Involved Incident",
    "Home Invasion",
    "Car-jacking",
    "Negligent Discharge",
    "suicide",
    "Child Involved",
    "Pistol-whipping",
    "Defensive Use",
    "Accidental Shooting",
    "No Injuries",
    "Home Invasion",
    "Murder",
    "Road rage",
    "Animal shot",
    "Drive-by",
    "Police Targeted",
    "School Incident",
    "Hate crime",
    "Terrorism Involvement",
    "Assault weapon",
    "Mass Shooting",
    "Accidental Shooting"]

In [4]:
type_inc = []
for entry in main['incident_characteristics']:
    temp = []
    for i in incident_type:
        if i in str(entry):
            if i in str(temp):
                continue
            else:
                temp.append(i)
                incident_type_dict[i]+=1
    if temp == []:
        temp = ['Blank']
        incident_type_dict['Unknown']+=1

    type_inc.append(temp)
sorted_incident_type_dict = sorted(incident_type_dict.items(), key = operator.itemgetter(1))
sorted_incident_type_dict

[('Terrorism Involvement', 30),
 ('Hate crime', 102),
 ('Police Targeted', 575),
 ('Animal shot', 723),
 ('Mass Shooting', 1637),
 ('Assault weapon', 2052),
 ('Child Involved', 2123),
 ('Road rage', 2140),
 ('School Incident', 2805),
 ('Murder', 2984),
 ('Pistol-whipping', 3751),
 ('Car-jacking', 4944),
 ('Gang involvement', 5677),
 ('Negligent Discharge', 6422),
 ('Defensive Use', 7391),
 ('Accidental Shooting', 8213),
 ('Home Invasion', 10641),
 ('Domestic Violence', 10841),
 ('Drive-by', 13655),
 ('Drug involvement', 17099),
 ('Officer Involved Incident', 17988),
 ('Armed robbery', 19723),
 ('No Injuries', 35750),
 ('suicide', 55004),
 ('Unknown', 80644)]

In [5]:
main['Type'] = type_inc
main.head()

,incident_id,date,state,latitude,longitude,incident_characteristics,Type
0,461105,2013-01-01,Pennsylvania,40.3467,-79.8559,Shot - Wounded/Injured||Mass Shooting (4+ vict...,[Mass Shooting]
1,460726,2013-01-01,California,33.9090,-118.3330,"Shot - Wounded/Injured||Shot - Dead (murder, a...","[Gang involvement, suicide, Mass Shooting]"
2,478855,2013-01-01,Ohio,41.4455,-82.1377,"Shot - Wounded/Injured||Shot - Dead (murder, a...","[suicide, No Injuries]"
3,478925,2013-01-05,Colorado,39.6518,-104.8020,"Shot - Dead (murder, accidental, suicide)||Off...","[Drug involvement, Officer Involved Incident, ..."
4,478959,2013-01-07,North Carolina,36.1140,-79.9569,"Shot - Wounded/Injured||Shot - Dead (murder, a...","[Domestic Violence, suicide, Murder]"

In [6]:
states = main['state'].unique()
type_state_count = pd.DataFrame(states)
type_state_count = type_state_count.rename(columns = {0:'State'})
type_state_count = type_state_count.set_index('State')
for i in incident_type:
    type_state_count[i]=0

In [7]:
for index,row in main.iterrows():
    State = row[2]
    current = row[6]
    for inc in incident_type:
        if inc in current:
            type_state_count.loc[State,inc]+=1

In [8]:
type_state_count.head()

,Gang involvement,Drug involvement,Domestic Violence,Armed robbery,Officer Involved Incident,Home Invasion,Car-jacking,Negligent Discharge,suicide,Child Involved,...,Murder,Road rage,Animal shot,Drive-by,Police Targeted,School Incident,Hate crime,Terrorism Involvement,Assault weapon,Mass Shooting
State,,,,,,,,,,,,,,,,,,,,,
Pennsylvania,33,628,444,625,576,872,92,250,2171,83,...,145,91,38,319,42,64,2,4,68,65
California,1372,1026,435,785,1969,966,302,367,5010,100,...,227,138,33,1274,47,125,15,3,263,194
Ohio,133,747,616,1141,974,964,212,328,2303,161,...,124,53,53,524,38,132,2,2,88,62
Colorado,63,245,126,159,380,268,89,140,719,27,...,54,52,9,204,10,41,1,0,31,14
North Carolina,68,384,422,894,398,1116,134,159,2050,81,...,103,51,33,386,6,151,5,0,60,43

In [9]:
output_file=os.path.join('output','incident_type.csv')
type_state_count.to_csv(output_file,index=True,header=True)

In [10]:
years = ['2013','2014','2015','2016','2017','2018']
type_year_count = pd.DataFrame(years)
type_year_count = type_year_count.rename(columns = {0:'Year'})
type_year_count = type_year_count.set_index('Year')
for i in incident_type:
    type_year_count[i]=0

In [11]:
for index,row in main.iterrows():
    year = row[1][:4]
    current = row[6]
    for inc in incident_type:
        if inc in current:
            type_year_count.loc[year,inc]+=1

In [12]:
type_year_count

,Gang involvement,Drug involvement,Domestic Violence,Armed robbery,Officer Involved Incident,Home Invasion,Car-jacking,Negligent Discharge,suicide,Child Involved,...,Murder,Road rage,Animal shot,Drive-by,Police Targeted,School Incident,Hate crime,Terrorism Involvement,Assault weapon,Mass Shooting
Year,,,,,,,,,,,,,,,,,,,,,
2013,49,14,12,7,13,18,1,0,156,0,...,23,0,1,52,0,1,1,0,1,253
2014,1072,2037,1759,10987,3224,5248,887,1042,10881,196,...,647,246,470,1700,5,371,20,1,27,270
2015,1578,3889,2259,2475,4408,4786,1155,1483,12042,293,...,657,451,103,3154,5,580,25,7,67,332
2016,1647,4736,2884,2887,4884,5140,1301,1820,14177,697,...,674,625,70,3991,119,689,20,14,622,383
2017,1098,5114,3137,2801,4322,5044,1298,1730,14510,770,...,767,666,65,3944,334,818,33,6,1057,345
2018,233,1309,790,566,1137,1046,302,347,3238,167,...,216,152,14,814,112,346,3,2,278,54

In [13]:
gmaps.configure(api_key = gkey)
maps_df = main[['incident_id','latitude','longitude','Type']]
maps_df.head()

,incident_id,latitude,longitude,Type
0,461105,40.3467,-79.8559,[Mass Shooting]
1,460726,33.9090,-118.3330,"[Gang involvement, suicide, Mass Shooting]"
2,478855,41.4455,-82.1377,"[suicide, No Injuries]"
3,478925,39.6518,-104.8020,"[Drug involvement, Officer Involved Incident, ..."
4,478959,36.1140,-79.9569,"[Domestic Violence, suicide, Murder]"

In [14]:
maps_df = maps_df.fillna('drop')
for index, row in maps_df.iterrows():
    if row[1] == 'drop':
        maps_df = maps_df.drop([index])
maps_df.head()

,incident_id,latitude,longitude,Type
0,461105,40.3467,-79.8559,[Mass Shooting]
1,460726,33.909,-118.333,"[Gang involvement, suicide, Mass Shooting]"
2,478855,41.4455,-82.1377,"[suicide, No Injuries]"
3,478925,39.6518,-104.802,"[Drug involvement, Officer Involved Incident, ..."
4,478959,36.114,-79.9569,"[Domestic Violence, suicide, Murder]"

In [ ]:
output_file=os.path.join('output','incident_type_gmap.csv')
maps_df.to_csv(output_file,index=False,header=True)

In [16]:
top_five_inc = ['suicide','Officer Involved Incident','Armed robbery','No Injuries','Drug involvement']

suicides_lat = []
suicides_lon = []

officers_lat = []
officers_lon = []

armed_lat = []
armed_lon = []

injuries_lat = []
injuries_lon = []

drug_lat = []
drug_lon = []

for index, row in  maps_df.iterrows():
    if  top_five_inc[0] in row[3]:
        
        suicides_lat.append(row[2])
        suicides_lon.append(row[1])
        
    elif top_five_inc[1] in row[3]:
        
        officers_lat.append(row[2])
        officers_lon.append(row[1])
        
    elif top_five_inc[2] in row[3]:
        
        armed_lat.append(row[2])
        armed_lon.append(row[1])
        
    elif top_five_inc[3] in row[3]:
        
        injuries_lat.append(row[2])
        injuries_lon.append(row[1])
        
    elif top_five_inc[4] in row[3]:
        drug_lat.append(row[2])
        drug_lon.append(row[1])

In [17]:
drugs = pd.DataFrame(drug_lat,drug_lon)
drugs = drugs.reset_index()

suicides = pd.DataFrame(suicides_lat,suicides_lon)
suicides = suicides.reset_index()

officers = pd.DataFrame(officers_lat,officers_lon)
officers = officers.reset_index()

injuries = pd.DataFrame(injuries_lat,injuries_lon)
injuries = injuries.reset_index()

armed = pd.DataFrame(armed_lat,armed_lon)
armed = armed.reset_index()

In [ ]:
armed_layer = gmaps.symbol_layer(armed, fill_color = 'rgba(255,248,117,1)',
                                stroke_color = 'rgba(255,248,117,1)',scale = 2
                                )
drugs_layer = gmaps.symbol_layer(drugs, fill_color = 'rgba(255,138,194,1)',
                                stroke_color = 'rgba(255,138,194,1)',scale = 2
                                )
suicides_layer = gmaps.symbol_layer(suicides, fill_color = 'rgba(230,0,0,1)',
                                stroke_color = 'rgba(230,0,0,1)',scale = 2
                                )
officers_layer = gmaps.symbol_layer(officers, fill_color = 'rgba(0,15,230,1)',
                                stroke_color = 'rgba(0,15,230,1)',scale = 2
                                )
injuries_layer = gmaps.symbol_layer(injuries, fill_color = 'rgba(255,255,255,1)',
                                stroke_color = 'rgba(255,255,255,1)',scale = 2
                                )
fig = gmaps.figure()
fig.add_layer(drugs_layer)
# fig.add_layer(armed_layer)
# fig.add_layer(suicides_layer)
# fig.add_layer(officers_layer)
# fig.add_layer(injuries_layer)
fig