In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
file = os.path.join("..","Data","clean_data","clean_data.csv")
raw = pd.DataFrame(pd.read_csv(file))

main = pd.DataFrame(raw[['incident_id','date','state','latitude','longitude','incident_characteristics']])
main.fillna('BLANK')
main['Type'] = ""
test = main.head(20)

In [22]:
incident_type_dict= {
    "Gang involvement":0,
    "Drug involvement":0,
    "Domestic Violence":0,
    "Armed robbery":0,
    "Officer Involved Incident":0,
    "Home Invasion":0,
    "Car-jacking":0,
    "Negligent Discharge":0,
    "suicide":0,
    "Child Involved":0,
    "Pistol-whipping":0,
    "Defensive Use":0,
    "Accidental Shooting":0,
    "No Injuries":0,
    "Home Invasion":0,
    "Murder":0,
    "Road rage":0,
    "Animal shot":0,
    "Drive-by":0,
    "Police Targeted":0,
    "School Incident":0,
    "Hate crime":0,
    "Terrorism Involvement":0,
    "Assault weapon":0,
    "Mass Shooting":0,
    "Accidental Shooting":0,
    "Unknown":0}
incident_type = ["Gang involvement",
    "Drug involvement",
    "Domestic Violence",
    "Armed robbery",
    "Officer Involved Incident",
    "Home Invasion",
    "Car-jacking",
    "Negligent Discharge",
    "suicide",
    "Child Involved",
    "Pistol-whipping",
    "Defensive Use",
    "Accidental Shooting",
    "No Injuries",
    "Home Invasion",
    "Murder",
    "Road rage",
    "Animal shot",
    "Drive-by",
    "Police Targeted",
    "School Incident",
    "Hate crime",
    "Terrorism Involvement",
    "Assault weapon",
    "Mass Shooting",
    "Accidental Shooting"]

In [23]:
type_inc = []
for entry in main['incident_characteristics']:
    temp = []
    for i in incident_type:
        if i in str(entry):
            if i in str(temp):
                continue
            else:
                temp.append(i)
                incident_type_dict[i]+=1
    if temp == []:
        temp = ['Blank']
        incident_type_dict['Unknown']+=1

    type_inc.append(temp)
incident_type_dict

{'Gang involvement': 5677,
 'Drug involvement': 17099,
 'Domestic Violence': 10841,
 'Armed robbery': 19723,
 'Officer Involved Incident': 17988,
 'Home Invasion': 10641,
 'Car-jacking': 4944,
 'Negligent Discharge': 6422,
 'suicide': 55004,
 'Child Involved': 2123,
 'Pistol-whipping': 3751,
 'Defensive Use': 7391,
 'Accidental Shooting': 8213,
 'No Injuries': 35750,
 'Murder': 2984,
 'Road rage': 2140,
 'Animal shot': 723,
 'Drive-by': 13655,
 'Police Targeted': 575,
 'School Incident': 2805,
 'Hate crime': 102,
 'Terrorism Involvement': 30,
 'Assault weapon': 2052,
 'Mass Shooting': 1637,
 'Unknown': 80644}

In [5]:
main['Type'] = type_inc
main.head()

,incident_id,date,state,latitude,longitude,incident_characteristics,Type
0,461105,2013-01-01,Pennsylvania,40.3467,-79.8559,Shot - Wounded/Injured||Mass Shooting (4+ vict...,[Mass Shooting]
1,460726,2013-01-01,California,33.9090,-118.3330,"Shot - Wounded/Injured||Shot - Dead (murder, a...","[Gang involvement, suicide, Mass Shooting]"
2,478855,2013-01-01,Ohio,41.4455,-82.1377,"Shot - Wounded/Injured||Shot - Dead (murder, a...","[suicide, No Injuries]"
3,478925,2013-01-05,Colorado,39.6518,-104.8020,"Shot - Dead (murder, accidental, suicide)||Off...","[Drug involvement, Officer Involved Incident, ..."
4,478959,2013-01-07,North Carolina,36.1140,-79.9569,"Shot - Wounded/Injured||Shot - Dead (murder, a...","[Domestic Violence, suicide, Murder]"

In [25]:
states = main['state'].unique()
type_state_count = pd.DataFrame(states)
type_state_count = type_state_count.rename(columns = {0:'State'})
type_state_count = type_state_count.set_index('State')
for i in incident_type:
    type_state_count[i]=0

In [28]:
for index,row in main.iterrows():
    State = row[2]
    current = row[6]
    for inc in incident_type:
        if inc in current:
            type_state_count.loc[State,inc]+=1

In [29]:
type_state_count

,Gang involvement,Drug involvement,Domestic Violence,Armed robbery,Officer Involved Incident,Home Invasion,Car-jacking,Negligent Discharge,suicide,Child Involved,...,Murder,Road rage,Animal shot,Drive-by,Police Targeted,School Incident,Hate crime,Terrorism Involvement,Assault weapon,Mass Shooting
State,,,,,,,,,,,,,,,,,,,,,
Pennsylvania,33,628,444,625,576,872,92,250,2171,83,...,145,91,38,319,42,64,2,4,68,65
California,1372,1026,435,785,1969,966,302,367,5010,100,...,227,138,33,1274,47,125,15,3,263,194
Ohio,133,747,616,1141,974,964,212,328,2303,161,...,124,53,53,524,38,132,2,2,88,62
Colorado,63,245,126,159,380,268,89,140,719,27,...,54,52,9,204,10,41,1,0,31,14
North Carolina,68,384,422,894,398,1116,134,159,2050,81,...,103,51,33,386,6,151,5,0,60,43
Oklahoma,55,265,187,338,358,600,117,95,848,25,...,47,36,10,233,12,35,1,0,37,15
New Mexico,13,109,99,93,273,162,46,31,427,12,...,30,36,8,85,13,25,0,0,15,11
Louisiana,20,463,276,837,395,566,450,167,1983,72,...,70,47,12,349,16,90,4,0,78,63
Maryland,18,603,101,371,220,210,74,53,1551,27,...,59,18,7,74,13,45,2,0,20,37
Tennessee,141,413,483,655,460,802,250,210,1711,86,...,83,104,23,485,8,147,1,1,47,62
Missouri,11,442,273,439,483,610,255,170,1950,93,...,86,58,14,581,24,84,2,0,53,52
District of Columbia,1,12,8,452,74,16,160,6,432,12,...,3,3,2,48,5,9,1,0,17,26
Illinois,1679,656,445,1041,1065,826,270,246,3238,106,...,85,47,22,2383,15,85,5,1,86,151
Delaware,9,222,17,196,52,166,20,10,207,7,...,6,8,4,28,4,13,0,0,17,7
Utah,81,99,83,62,146,120,29,71,244,17,...,24,19,7,94,2,16,0,1,7,5
Michigan,58,343,383,622,484,586,148,223,1448,77,...,75,75,28,298,18,67,3,4,45,59
Georgia,111,572,464,997,584,1156,260,293,2237,115,...,121,73,24,455,11,142,3,0,38,69
Indiana,94,578,416,624,726,644,117,217,1467,99,...,76,50,26,183,13,84,1,1,67,41
Mississippi,6,57,158,279,201,244,51,102,1079,47,...,45,17,5,106,3,43,1,0,25,28
New York,235,1063,288,713,485,840,85,199,1589,40,...,72,58,41,379,18,82,8,2,92,78
Florida,101,1005,782,1304,1071,1600,342,397,3405,139,...,226,254,47,914,31,238,9,1,210,116
Washington,182,341,250,233,404,386,67,115,758,10,...,76,51,19,359,4,52,6,1,50,19
South Carolina,33,463,368,636,334,822,82,183,1485,65,...,62,52,24,351,4,123,2,0,63,36
Arizona,28,109,142,137,393,228,46,117,971,28,...,71,39,6,129,25,30,1,0,12,20
Kentucky,11,288,283,389,316,508,54,149,948,33,...,70,24,18,152,9,78,0,0,28,23
New Jersey,45,698,107,454,254,182,95,73,1101,20,...,47,11,10,157,9,26,0,2,61,47
Virginia,43,207,274,546,353,566,108,141,1336,58,...,82,39,18,235,2,104,2,1,22,42
Wisconsin,47,328,202,505,286,248,94,149,802,39,...,46,49,18,226,9,52,2,1,22,10
Rhode Island,62,140,25,56,42,112,11,7,62,0,...,5,5,8,88,2,7,0,0,14,4
Texas,154,841,792,1496,1432,1300,341,450,4387,176,...,315,192,32,744,77,178,9,1,107,97
Alabama,7,120,303,479,303,432,87,129,1718,67,...,78,24,4,101,7,81,0,0,30,35
Kansas,36,154,82,143,188,248,54,116,497,22,...,20,22,10,195,6,33,3,0,7,15
Connecticut,57,480,101,248,132,250,61,69,333,7,...,21,39,13,164,4,26,2,0,29,15
West Virginia,1,169,155,123,134,212,11,46,311,12,...,21,4,5,50,4,25,1,1,10,3
Minnesota,44,181,87,164,184,166,30,83,411,17,...,35,29,6,138,4,32,3,1,15,17
Nevada,61,84,130,161,232,152,32,49,715,15,...,43,30,6,106,13,18,1,0,5,10
Nebraska,18,160,52,151,93,208,52,69,220,6,...,12,18,3,137,1,21,0,0,15,4
Massachusetts,165,978,120,327,230,570,67,71,463,11,...,15,60,12,315,6,41,1,0,49,13
Hawaii,2,21,17,24,50,22,15,11,58,1,...,3,6,2,15,6,3,0,0,2,0
New Hampshire,6,145,64,65,105,96,2,42,95,2,...,9,37,7,22,2,10,0,0,13,0
Iowa,39,280,77,172,152,244,12,103,277,13,...,14,16,6,167,3,32,0,0,28,4
Alaska,4,116,113,52,115,146,20,57,250,14,...,13,6,4,45,8,7,0,0,9,1
Arkansas,6,93,113,229,179,248,50,80,701,30,...,49,15,5,110,6,45,0,0,18,11
Idaho,14,88,46,29,104,72,6,56,150,12,...,16,12,5,19,4,10,0,0,13,0
Oregon,305,243,143,125,227,202,28,84,396,17,...,44,22,12,138,7,22,2,1,24,6
Wyoming,0,19,24,6,31,10,2,23,65,3,...,7,3,3,5,0,4,0,0,9,0
Maine,0,131,113,39,118,110,1,38,98,3,...,12,12,3,17,0,4,1,0,7,2
North Dakota,2,79,26,23,56,58,2,57,66,5,...,6,4,0,20,0,4,0,0,9,0
Montana,1,55,64,17,73,36,5,44,123,5,...,18,18,10,21,3,8,0,0,8,2
Vermont,2,67,42,41,37,68,2,29,55,2,...,5,7,4,12,0,5,0,0,4,1
South Dakota,0,89,20,26,57,46,4,48,83,4,...,8,6,4,15,1,6,0,1,5,2

In [30]:
years = ['2013','2014','2015','2016','2017','2018']
type_year_count = pd.DataFrame(years)
type_year_count = type_year_count.rename(columns = {0:'Year'})
type_year_count = type_year_count.set_index('Year')
for i in incident_type:
    type_year_count[i]=0

,Gang involvement,Drug involvement,Domestic Violence,Armed robbery,Officer Involved Incident,Home Invasion,Car-jacking,Negligent Discharge,suicide,Child Involved,...,Murder,Road rage,Animal shot,Drive-by,Police Targeted,School Incident,Hate crime,Terrorism Involvement,Assault weapon,Mass Shooting
Year,,,,,,,,,,,,,,,,,,,,,
2013,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2014,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2016,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2018,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
for index,row in main.iterrows():
    year = row[1][:4]
    current = row[6]
    for inc in incident_type:
        if inc in current:
            type_year_count.loc[year,inc]+=1

In [36]:
type_year_count

,Gang involvement,Drug involvement,Domestic Violence,Armed robbery,Officer Involved Incident,Home Invasion,Car-jacking,Negligent Discharge,suicide,Child Involved,...,Murder,Road rage,Animal shot,Drive-by,Police Targeted,School Incident,Hate crime,Terrorism Involvement,Assault weapon,Mass Shooting
Year,,,,,,,,,,,,,,,,,,,,,
2013,49,14,12,7,13,18,1,0,156,0,...,23,0,1,52,0,1,1,0,1,253
2014,1072,2037,1759,10987,3224,5248,887,1042,10881,196,...,647,246,470,1700,5,371,20,1,27,270
2015,1578,3889,2259,2475,4408,4786,1155,1483,12042,293,...,657,451,103,3154,5,580,25,7,67,332
2016,1647,4736,2884,2887,4884,5140,1301,1820,14177,697,...,674,625,70,3991,119,689,20,14,622,383
2017,1098,5114,3137,2801,4322,5044,1298,1730,14510,770,...,767,666,65,3944,334,818,33,6,1057,345
2018,233,1309,790,566,1137,1046,302,347,3238,167,...,216,152,14,814,112,346,3,2,278,54