In [1]:
import os 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
file = os.path.join("..","raw_data","gun-violence-data_01-2013_03-2018.csv")
raw_df = pd.read_csv(file)
raw_df = pd.DataFrame(raw_df)
raw_df.head()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

In [4]:
all_df =pd.DataFrame(raw_df[['incident_id','date','state','city_or_county','latitude','longitude','location_description','n_killed','n_injured','n_guns_involved','gun_stolen','gun_type','participant_age','participant_age_group','participant_gender','participant_status','participant_type','incident_characteristics','source_url']])
all_df.head()

,incident_id,date,state,city_or_county,latitude,longitude,location_description,n_killed,n_injured,n_guns_involved,gun_stolen,gun_type,participant_age,participant_age_group,participant_gender,participant_status,participant_type,incident_characteristics,source_url
0,461105,2013-01-01,Pennsylvania,Mckeesport,40.3467,-79.8559,NaN,0,4,NaN,NaN,NaN,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,Shot - Wounded/Injured||Mass Shooting (4+ vict...,http://www.post-gazette.com/local/south/2013/0...
1,460726,2013-01-01,California,Hawthorne,33.9090,-118.3330,NaN,1,3,NaN,NaN,NaN,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,"Shot - Wounded/Injured||Shot - Dead (murder, a...",http://www.dailybulletin.com/article/zz/201301...
2,478855,2013-01-01,Ohio,Lorain,41.4455,-82.1377,Cotton Club,1,3,2.0,0::Unknown||1::Unknown,0::Unknown||1::Unknown,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,"Shot - Wounded/Injured||Shot - Dead (murder, a...",http://chronicle.northcoastnow.com/2013/02/14/...
3,478925,2013-01-05,Colorado,Aurora,39.6518,-104.8020,NaN,4,0,NaN,NaN,NaN,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,"Shot - Dead (murder, accidental, suicide)||Off...",http://www.dailydemocrat.com/20130106/aurora-s...
4,478959,2013-01-07,North Carolina,Greensboro,36.1140,-79.9569,NaN,2,2,2.0,0::Unknown||1::Unknown,0::Handgun||1::Handgun,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,"Shot - Wounded/Injured||Shot - Dead (murder, a...",http://www.journalnow.com/news/local/article_d...

In [5]:
state_count = pd.DataFrame(all_df['state'].value_counts())

state_count= state_count.rename(columns = {'state':'Incident Count'})
state_count.head()

            Incident Count
Illinois             17556
California           16306
Florida              15029
Texas                13577
Ohio                 10244

In [6]:
state_gb = all_df.groupby(['state', 'city_or_county'])
state_gb = pd.DataFrame(state_gb['incident_id'].count())
state_gb=state_gb.reset_index()
state_gb

         state     city_or_county  incident_id
0      Alabama          Abbeville            2
1      Alabama         Adamsville            9
2      Alabama              Adger            3
3      Alabama          Alabaster            4
4      Alabama            Alberta            1
5      Alabama        Albertville           18
6      Alabama     Alexander City           23
7      Alabama    Alexander City             1
8      Alabama         Alexandria            1
9      Alabama         Aliceville            2
10     Alabama             Alpine            2
11     Alabama          Andalusia            9
12     Alabama           Anderson            1
13     Alabama           Anniston           62
14     Alabama               Arab           16
15     Alabama             Ariton            3
16     Alabama            Ashford            2
17     Alabama            Ashland            1
18     Alabama           Ashville            2
19     Alabama             Athens           57
20     Alabama             Atmore           14
21     Alabama     Atmore (Canoe)            1
22     Alabama            Attalla            3
23     Alabama             Auburn           50
24     Alabama            Auburn             1
25     Alabama       Autaugaville            5
26     Alabama               Axis            1
27     Alabama          Baileyton            1
28     Alabama   Baldwin (county)            2
29     Alabama     Baldwin County            1
...        ...                ...          ...
17511  Wyoming   Laramie (county)            1
17512  Wyoming             Lingle            1
17513  Wyoming               Lusk            1
17514  Wyoming              Lyman            1
17515  Wyoming       Medicine Bow            1
17516  Wyoming          Meeteetse            1
17517  Wyoming              Mills           19
17518  Wyoming              Moose            2
17519  Wyoming              Moran            1
17520  Wyoming            Natrona            2
17521  Wyoming   Natrona (county)           44
17522  Wyoming     Natrona County            5
17523  Wyoming      Park (county)            1
17524  Wyoming        Park County            2
17525  Wyoming          Pavillion            1
17526  Wyoming           Pinedale            1
17527  Wyoming             Powell            4
17528  Wyoming            Rawlins            3
17529  Wyoming           Riverton            6
17530  Wyoming       Rock Springs            3
17531  Wyoming           Sheridan            7
17532  Wyoming    Sheridan County            1
17533  Wyoming           Shoshoni            1
17534  Wyoming           Sundance            1
17535  Wyoming     Teton (county)            3
17536  Wyoming      Teton Village            1
17537  Wyoming         Torrington            1
17538  Wyoming  Washakie (county)            2
17539  Wyoming            Worland            1
17540  Wyoming             Wright            1

[17541 rows x 3 columns]